# Leçon SQL 3: Requêtes avec contraintes (Pt. 2)

Lors de l'écriture de clauses **WHERE** avec des colonnes contenant des données texte, SQL prend en charge un certain nombre d'opérateurs utiles pour effectuer des opérations telles que la comparaison de chaînes insensible à la casse et la correspondance de modèles génériques. Nous montrons ci-dessous quelques opérateurs spécifiques aux données texte:

In [2]:
x="""Opérateur	État	Exemple
=	Comparaison de chaînes exactes sensible à la casse ( notez le simple égal )	col_name = "abc"
! = ou <>	Comparaison des inégalités de chaîne exactes sensibles à la casse	col_name ! = "abcd"
COMME	Comparaison de chaînes exactes insensible à la casse	col_name LIKE "ABC"
PAS COMME	Comparaison d'inégalité de chaîne exacte insensible à la casse	col_name PAS COMME "ABCD"
%	Utilisé n'importe où dans une chaîne pour correspondre à une séquence de zéro ou plusieurs caractères (uniquement avec LIKE ou NOT LIKE)	col_name LIKE "% AT%"
(correspond à " AT ", " AT TIC", "C AT " ou même "B AT S")
_	Utilisé n'importe où dans une chaîne pour correspondre à un seul caractère (uniquement avec LIKE ou NOT LIKE)	col_name LIKE "AN_"
(correspond à " AN D", mais pas à " AN ")
DANS (…)	La chaîne existe dans une liste	col_name IN ("A", "B", "C")
PAS DEDANS (…)	La chaîne n'existe pas dans une liste	col_name NOT IN ("D", "E", "F")
"""
operateurs2 = to_df(x)

NameError: name 'to_df' is not defined

In [3]:
import pandas as pd

def to_df(s):
    l= [elt.split(';') for elt in s.replace("	", ";").split('\n')]
    return pd.DataFrame(l[1:], columns=l[0])

In [4]:
operateurs2

NameError: name 'operateurs2' is not defined

**Le saviez-vous?** Toutes les chaînes doivent être entre guillemets afin que l'analyseur de requêtes puisse distinguer les mots de la chaîne des mots clés SQL.

Nous devons noter que si la plupart des implémentations de bases de données sont assez efficaces lors de l'utilisation de ces opérateurs, la recherche en texte intégral est mieux laissée à des bibliothèques dédiées comme [Apache Lucene] (http://lucene.apache.org/ "Apache Lucene") ou [Sphinx ] (http://sphinxsearch.com/ "Sphinx Search"). Ces bibliothèques sont conçues spécifiquement pour effectuer une recherche en texte intégral, et par conséquent sont plus efficaces et peuvent prendre en charge une plus grande variété de fonctionnalités de recherche, notamment l'internationalisation et les requêtes avancées.

## Exercice

Voici à nouveau la définition d'une requête avec une **WHERE** clause, allez-y et essayez d'écrire quelques requêtes avec les opérateurs ci-dessus pour limiter les résultats aux informations dont nous avons besoin dans les tâches ci-dessous.

Sélectionnez une requête avec des contraintes
``` mysql 
SELECT column, another_column, …
FROM mytable
WHERE condition
    AND/OR another_condition
    AND/OR …;
```

In [5]:
from pandasql import sqldf

In [6]:
x="""Id	Title	Director	Year	Length_minutes
1	Toy Story	John Lasseter	1995	81
2	A Bug's Life	John Lasseter	1998	95
3	Toy Story 2	John Lasseter	1999	93
4	Monsters, Inc.	Pete Docter	2001	92
5	Finding Nemo	Andrew Stanton	2003	107
6	The Incredibles	Brad Bird	2004	116
7	Cars	John Lasseter	2006	117
8	Ratatouille	Brad Bird	2007	115
9	WALL-E	Andrew Stanton	2008	104
10	Up	Pete Docter	2009	101
11	Toy Story 3	Lee Unkrich	2010	103
12	Cars 2	John Lasseter	2011	120
13	Brave	Brenda Chapman	2012	102
14	Monsters University	Dan Scanlon	2013	110"""
Movies = to_df(x)

In [7]:
Movies

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110

1. Retrouvez tous les films Toy Story

In [8]:
QUERY1 = "SELECT * FROM Movies WHERE Title LIKE '%Toy Story%'"

In [9]:
sqldf(QUERY1)

   Id        Title       Director  Year Length_minutes
0   1    Toy Story  John Lasseter  1995             81
1   3  Toy Story 2  John Lasseter  1999             93
2  11  Toy Story 3    Lee Unkrich  2010            103

2. Retrouvez tous les films réalisés par John Lasseter

In [10]:
QUERY2 = "SELECT * FROM Movies WHERE Director = 'John Lasseter'"

In [11]:
sqldf(QUERY2)

   Id         Title       Director  Year Length_minutes
0   1     Toy Story  John Lasseter  1995             81
1   2  A Bug's Life  John Lasseter  1998             95
2   3   Toy Story 2  John Lasseter  1999             93
3   7          Cars  John Lasseter  2006            117
4  12        Cars 2  John Lasseter  2011            120

3. Retrouvez tous les films (et réalisateur) non réalisés par John Lasseter

In [12]:
QUERY3 = "SELECT * FROM Movies WHERE Director != 'John Lasseter'"

In [13]:
sqldf(QUERY3)

   Id                Title        Director  Year Length_minutes
0   4       Monsters, Inc.     Pete Docter  2001             92
1   5         Finding Nemo  Andrew Stanton  2003            107
2   6      The Incredibles       Brad Bird  2004            116
3   8          Ratatouille       Brad Bird  2007            115
4   9               WALL-E  Andrew Stanton  2008            104
5  10                   Up     Pete Docter  2009            101
6  11          Toy Story 3     Lee Unkrich  2010            103
7  13                Brave  Brenda Chapman  2012            102
8  14  Monsters University     Dan Scanlon  2013            110

4. Trouvez tous les films WALL- E

In [14]:
QUERY4 = "SELECT * FROM Movies WHERE Title LIKE '%WALL-E%'"

In [15]:
sqldf(QUERY4)

  Id   Title        Director  Year Length_minutes
0  9  WALL-E  Andrew Stanton  2008            104